TELEGRAM_TOKEN=
TWITCH_CLIENT_ID=
TWITCH_CLIENT_SECRET=
FEEDBACK_LINK=https://t.me/your_feedback
SITE_LINK=https://example.com/
CHECK_INTERVAL=20
NOTIFY_COOLDOWN_MINUTES=30
DB_ROOT=bd
RECOMMENDED_STREAMERS=bedmah,alexnicenice,muriatin,angelnymp
ADMIN_IDS=123456789
